<h1>landing. call this home next time</h1>
<p><%= link_to "About", about_path %></p>

<div class="card" style="width: 18rem;">
  <img src="https://cdn.xxl.thumbs.canstockphoto.com/canstock16707011.jpg" class="card-img-top" alt="yo">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>