<p><%= link_to "About", about_path %></p>
<h1>landing. call this home next time</h1>
<rssapp-magazine id="oFWNTY6JlrLoLbki"></rssapp-magazine><script src="https://widget.rss.app/v1/magazine.js" type="text/javascript" async></script>
